@import "tailwindcss";

@theme {

  --breakpoint-*: initial;

  --breakpoint-sm: 640px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1441px;
  --breakpoint-800xl: 800px;
  --breakpoint-886xl: 886px;
  --breakpoint-1132xl: 1132px;
  --breakpoint-1230xl: 1230px;
  --breakpoint-1296xl: 1296px;
  --breakpoint-1352xl: 1352px;
  --breakpoint-1562xl: 1562px;
  --breakpoint-1642xl: 1642px;
  --breakpoint-1746xl: 1746px;
  --breakpoint-1892xl: 1892px;
  --breakpoint-1970xl: 1970px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carousel {
  width: 100%;
  height: 70vh;
  min-height: 300px;
  position: relative;
  margin: 0 auto;
}

.carousel [data-carousel-slides] {
  padding: 0;
  margin: 0;
  list-style: none;

}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 200ms;
  overflow: hidden;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  top: 20%;
  transform: translateY(-50%);
  z-index: 2;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;

  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button:hover,
.carousel-button:focus {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.carousel-button[data-carousel-btn="prev"] {
  left: 1rem;
}

.carousel-button[data-carousel-btn="next"] {
  right: 1rem;
}

body {
  @apply bg-[#e3e6e6] min-h-screen flex flex-col font-sans
}

.nav-item {
  @apply border border-black hover:border hover:border-gray-100 rounded-sm 
}

.header-item {
  @apply min-w-max border border-[#232f3e] hover:border hover:border-gray-100 rounded-sm p-1
}

.hero-section {
  @apply md:mt-0 mt-38 xxl:mx-40 
}

.hero-img-gradient {
  @apply absolute bottom-0 left-0 w-full h-[60%] bg-gradient-to-b from-transparent to-[#e3e6e6]
}

.cards-grid {
  @apply  grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4
}

.card-heading {
  @apply text-xl font-bold
}

.card-inner-grid {
  @apply grid grid-cols-2 gap-4
}

.card-bg {
  @apply bg-white p-4
}

.card-link {
  @apply text-base text-blue-500
}

.special-discount-div {
  @apply grid grid-cols-2 p-1 gap-1
}

.special-discount-badge {
  @apply bg-red-700 rounded flex m-1  items-center justify-center  text-white  text-xs 
}

.special-discount-text {
  @apply text-red-700 text-xs font-bold
}

.horizontal-corousel-container {
  @apply text-center min-w-40
}

.horinzontal-corousel-heading {
  @apply text-xl font-semibold
}

.horizontal-corousel-border {
  @apply border border-gray-300 p-1 rounded-lg
}

.horinzontal-corousel-buttons {
  @apply bg-white/70 text-xl cursor-pointer py-4 px-4
}

.price-line-through {
  @apply line-through text-sm text-gray-400
}

.horizonatal-corousel-desc {
  @apply text-sm text-left font-semibold
}

.underline-link {
  @apply hover:underline
}

.footer-links {
  @apply bg-[#232f3e] p-6 text-white text-center sm:text-left grid grid-cols-1 sm:grid-cols-4 lg:px-70 gap-10
} 